# Libreria Pandas

## Series
*One-dimensional ndarray with axis labels (including time series).*

Link a documentación:

https://pandas.pydata.org/docs/reference/api/pandas.Series.html


Un objeto Series tiene dos componentes: un índice y un vector de datos, ambos con la misma longitud. El índice contiene valores únicos y, por lo general, ordenados, y se usa para acceder a valores individuales de los datos.


## Dataframes

*Two-dimensional, size-mutable, potentially heterogeneous tabular data.*

Link a documentación:

https://pandas.pydata.org/docs/reference/frame.html

Un dataframe esencialmente es una tabla con columnas y filas indexadas, de forma tal que podemos acceder fácilmente a filas mediante el índice. También podemos unir, separar o filtrar dataframes trabajando sobre el índice. En general, los dataframes le van a resultar bastante familiares a quienes sepan SQL.

Los dataframes pueden tener datos no heterogéneos y además son **objetos** con **métodos** útiles para extraer información de forma rápida (por ejemplo, computar histogramas de valores). También es posible convertirlos a *arrays de Numpy* si así lo necesitamos, aunque no lo vamos a hacer a menos que sea realmente necesario.

# Creando Series

## A partir de listas

In [1]:
import pandas as pd

lista = ['a','bien',[3,8],'c',7,('a',3),10.8]
s1 = pd.Series(lista)
print(s1)
print(type(s1))

indices = ['uno', 'dos','tres','cuatro','cinco','seis', 'siete']
s2 = pd.Series(index=indices, data=lista)
print(s2)

0         a
1      bien
2    [3, 8]
3         c
4         7
5    (a, 3)
6      10.8
dtype: object
<class 'pandas.core.series.Series'>
uno            a
dos         bien
tres      [3, 8]
cuatro         c
cinco          7
seis      (a, 3)
siete       10.8
dtype: object

## A partir de diccionarios

In [2]:
# Creamos una serie a partir de un diccionario:
d1 = {'A' : 10, 'B' : 20, 'C' : 30} # clave('{}') y valor 
series1 = pd.Series(d1)
print(series1)


# Creamos un diccionario a partir de dos listas
valores = ['a','b',3,'c',7,'d',10]
indices = ['uno', 'dos','tres','cuatro','cinco','seis', 'siete']
d2 = dict(zip(indices, valores))
print(d2)

series2 = pd.Series(d2)
print(series2)

A    10
B    20
C    30
dtype: int64
{'uno': 'a', 'dos': 'b', 'tres': 3, 'cuatro': 'c', 'cinco': 7, 'seis': 'd', 'siete': 10}
uno        a
dos        b
tres       3
cuatro     c
cinco      7
seis       d
siete     10
dtype: object

## A partir de arrays

In [3]:
import pandas as pd
import numpy as np

x = np.arange(9,0,-1) # Crear un rango de 9 a 1 contando uno a uno (hacia atras)
print(x)
s = pd.Series(data=x**2) # x**2 devuelve el valor de cada elemento de x elevado al cuadrado

print(s)
print(type(s))

[9 8 7 6 5 4 3 2 1]
0    81
1    64
2    49
3    36
4    25
5    16
6     9
7     4
8     1
dtype: int32
<class 'pandas.core.series.Series'>

# Operaciones con Series

## Modificando una serie

In [4]:
s = pd.Series([0, 1, 2, 3, 4])
s.replace(0, 5)

0    5
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
s = pd.Series([10, 'a.3', 'casa', 'b', 'a'])
s.replace({'a': None, 'b':'auto'})

0      10
1     a.3
2    casa
3    auto
4    None
dtype: object

## Operando con series

In [6]:
# Suma acumulada:
s = pd.Series([2, np.nan, 5, -1, 0])
print(s)

s.cumsum()

0    2.0
1    NaN
2    5.0
3   -1.0
4    0.0
dtype: float64

0    2.0
1    NaN
2    7.0
3    6.0
4    6.0
dtype: float64

In [7]:
# Agrupando datos:

ser = pd.Series(data=[390., 350., 30., 20.], index=['Halcon', 'Halcon', 'Loro', 'Loro'], name="Velocidad max")
print(ser)
ser.groupby(level=0).mean()

Halcon    390.0
Halcon    350.0
Loro       30.0
Loro       20.0
Name: Velocidad max, dtype: float64

Halcon    370.0
Loro       25.0
Name: Velocidad max, dtype: float64

In [8]:
# Sumamos dos series:
a = pd.Series([35000,71000,16000,5000],index=['Ohio','Texas','Oregon','Utah'])
b = pd.Series([np.nan,71000,16000,35000],index=['California', 'Texas', 'Oregon', 'Ohio'])

a+b

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [9]:
# Sumamos la serie con el función 'add()':
ab = a.add(b, fill_value=0)

ab

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah            5000.0
dtype: float64

In [10]:
# Concatenamos las series anteriores:
pd.concat((a,b), axis=1)

                  0        1
Ohio        35000.0  35000.0
Texas       71000.0  71000.0
Oregon      16000.0  16000.0
Utah         5000.0      NaN
California      NaN      NaN

# Creando Dataframes

## A partir de un diccionario


Una forma de construir `dataframes` es a partir de diccionarios, de forma tal que asignamos una **lista a cada llave**, que representa una columna del dataframe:

In [11]:
# Tenemos un diccionario donde, para cada alumno tenemos 'nombre', 'nota primer parcial',
# 'nota segundo parcial', 'observaciones' y 'DNI'
datos = {'alumno': ['Zutano', 'Mengano', 'Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,4, 10], 'segundo parcial': [10,9,4,10,10], 
         'observaciones':['ninguna','libre','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100, 99999, 1001,30406011]}

import pandas as pd

df = pd.DataFrame(datos)

print(df)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano               7               10       ninguna  23000000
1          Mengano               8                9         libre  12389100
2             Pepe               7                4       ninguna     99999
3  Fulanito, Cosme               4               10         libre      1001
4            Maria              10               10        oyente  30406011

Vemos que las filas están identificadas con números (0,1,2,..). Esos números corresponden al índice (*index*). Podemos obtener las columnas y el índice de un dataframe como listas usando los siguientes métodos:

## A partir de un archivo:

In [12]:
import pandas as pd
import os

In [14]:
df = pd.read_table("C:\\Users\\andre\\OneDrive\\Escritorio\\ejemplo.txt", delimiter=";")
print(df)
print(type(df))

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano               7               10       ninguna  23000000
1          Mengano               8                9         libre  12389100
2             Pepe               7                4       ninguna     99999
3  Fulanito, Cosme               4               10         libre      1001
4            Maria              10               10        oyente  30406011
<class 'pandas.core.frame.DataFrame'>

In [16]:
# Imprimimos las columnas con las que cuenta el Dataframe:
print(list(df.columns))
# Imprimimos el índice del Dataframe:
print(list(df.index))

# Imprimimos la columna 'primer parcial' del Dataframe:
df['primer parcial']

['alumno', 'primer parcial', 'segundo parcial', 'observaciones', 'DNI']
[0, 1, 2, 3, 4]

0     7
1     8
2     7
3     4
4    10
Name: primer parcial, dtype: int64

## Series y dataframes, a partir de un dataframe

Podemos ademas seleccionar una columna del dataframe como si se tratase de un diccionario. El objeto resultante se llama "series":

In [18]:
# Imprimimos la columna de 'alumno':
print(df['alumno'])

# Seleccionamos la columna 'alumno': 
print(type(df['alumno']))

0             Zutano
1            Mengano
2               Pepe
3    Fulanito, Cosme
4              Maria
Name: alumno, dtype: object
<class 'pandas.core.series.Series'>

Para obtener filas en vez de columnas, podemos usar el método df.loc con una lista de los índices que queremos acceder:

In [20]:
# Cual es la diferencia?

# Como serie:
print(df.loc[1])
print(type(df.loc[1]))


# Como dataframe:
print(df.loc[[1]])
print(type(df.loc[[1]]))

alumno              Mengano
primer parcial            8
segundo parcial           9
observaciones         libre
DNI                12389100
Name: 1, dtype: object
<class 'pandas.core.series.Series'>
    alumno  primer parcial  segundo parcial observaciones       DNI
1  Mengano               8                9         libre  12389100
<class 'pandas.core.frame.DataFrame'>

In [23]:
# O bien:
df.loc[2:4]   # = df.loc[[2,3,4]]

            alumno  primer parcial  segundo parcial observaciones       DNI
2             Pepe               7                4       ninguna     99999
3  Fulanito, Cosme               4               10         libre      1001
4            Maria              10               10        oyente  30406011

# Indices

## Definir un indice diferente

Podríamos haber querido otro índice en vez de [0,1,2,...] para nuestro dataframe. En ese caso, le agregamos el parámetro index a la hora de crearlo:

In [24]:
datos = {'alumno': ['Zutano', 'Mengano', 'Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,4, 10], 'segundo parcial': [10,9,4,10,10], 
         'observaciones':['ninguna','libre','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100, 99999, 1001,30406011]}
df = pd.DataFrame(datos, index=['uno', 3,'cinco', 7,'nueve'])
print(df)

                alumno  primer parcial  segundo parcial observaciones  \
uno             Zutano               7               10       ninguna
3              Mengano               8                9         libre
cinco             Pepe               7                4       ninguna
7      Fulanito, Cosme               4               10         libre
nueve            Maria              10               10        oyente

            DNI
uno    23000000
3      12389100
cinco     99999
7          1001
nueve  30406011

Y el proceso de ubicar filas es igual al anterior:

In [25]:
df.loc[[7,'uno']]

              alumno  primer parcial  segundo parcial observaciones       DNI
7    Fulanito, Cosme               4               10         libre      1001
uno           Zutano               7               10       ninguna  23000000

## Modificar el índice 

Puede que ya hayamos creado un dataframe y después de hacerlo nos demos cuenta de que una de las columnas tiene más sentido como índice que otra. En ese caso, lo que buscamos es reindexar el dataframe usando los valores de esa columna. En general conviene utilizar como índice algo que sea un identificador único de cada elemento en el dataframe; en este caso, el DNI puede cumplir con esa función.

In [26]:
df_DNI = df.set_index('DNI')
print(df_DNI)

                   alumno  primer parcial  segundo parcial observaciones
DNI
23000000           Zutano               7               10       ninguna
12389100          Mengano               8                9         libre
99999                Pepe               7                4       ninguna
1001      Fulanito, Cosme               4               10         libre
30406011            Maria              10               10        oyente

# Métodos de limpieza de datos
Una ventaja del dataframe son los métodos que tiene para la limpieza de datos. Esto es útil si por ejemplo queremos descartar filas o columnas duplicadas o con datos faltantes. Supongamos que tenemos un dataframe en el cual faltan algunos datos (identificados con "nan") y algunas de las filas están duplicadas.

In [27]:
import numpy as np          # Necesitamos la libreria numpy para escribir 'nan'
datos = {'alumno': ['Zutano', 'Mengano', 'Zutano','Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,7,np.nan, 10], 'segundo parcial': [10,9,10,4,10,np.nan], 
         'observaciones':['ninguna','libre','ninguna','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100,23000000, 99999, 1001,30406011]}
df = pd.DataFrame(datos)
print(df)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011

Eliminamos las columnas que tienen Nan. Para eso usamos el método df.dropna():

In [28]:
df_2 = df.dropna()
print(df_2)

    alumno  primer parcial  segundo parcial observaciones       DNI
0   Zutano             7.0             10.0       ninguna  23000000
1  Mengano             8.0              9.0         libre  12389100
2   Zutano             7.0             10.0       ninguna  23000000
3     Pepe             7.0              4.0       ninguna     99999

Observemos que había varias maneras de hacer esto. Por ejemplo, podríamos haber querido eliminar las columnas que tenían un 'nan', en vez de las filas:

In [29]:
df_3 = df.dropna(axis=1)
print(df_3)

            alumno observaciones       DNI
0           Zutano       ninguna  23000000
1          Mengano         libre  12389100
2           Zutano       ninguna  23000000
3             Pepe       ninguna     99999
4  Fulanito, Cosme         libre      1001
5            Maria        oyente  30406011

O podríamos haber querido eliminar las filas que tengan TODOS los valores nan. También podríamos haber específicado un subset de las columnas para verificar si las filas tienen valores 'nan' y removerlas en ese caso.

In [30]:
df_4 = df.dropna(how='all')
print(df_4)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011