# Libreria Pandas

## Series
*One-dimensional ndarray with axis labels (including time series).*

Link a documentación:

https://pandas.pydata.org/docs/reference/api/pandas.Series.html


Un objeto Series tiene dos componentes: un índice y un vector de datos, ambos con la misma longitud. El índice contiene valores únicos y, por lo general, ordenados, y se usa para acceder a valores individuales de los datos.


## Dataframes

*Two-dimensional, size-mutable, potentially heterogeneous tabular data.*

Link a documentación:

https://pandas.pydata.org/docs/reference/frame.html

Un dataframe esencialmente es una tabla con columnas y filas indexadas, de forma tal que podemos acceder fácilmente a filas mediante el índice. También podemos unir, separar o filtrar dataframes trabajando sobre el índice. En general, los dataframes le van a resultar bastante familiares a quienes sepan SQL.

Los dataframes pueden tener datos no heterogéneos y además son **objetos** con **métodos** útiles para extraer información de forma rápida (por ejemplo, computar histogramas de valores). También es posible convertirlos a *arrays de Numpy* si así lo necesitamos, aunque no lo vamos a hacer a menos que sea realmente necesario.

# Creando Series

## A partir de listas

In [1]:
import pandas as pd

lista = ['a','bien',[3,8],'c',7,('a',3),10.8]
s1 = pd.Series(lista)
print(s1)
print(type(s1))

indices = ['uno', 'dos','tres','cuatro','cinco','seis', 'siete']
s2 = pd.Series(index=indices, data=lista)
print(s2)

0         a
1      bien
2    [3, 8]
3         c
4         7
5    (a, 3)
6      10.8
dtype: object
<class 'pandas.core.series.Series'>
uno            a
dos         bien
tres      [3, 8]
cuatro         c
cinco          7
seis      (a, 3)
siete       10.8
dtype: object

## A partir de diccionarios

In [2]:
# Creamos una serie a partir de un diccionario:
d1 = {'A' : 10, 'B' : 20, 'C' : 30} # clave('{}') y valor 
series1 = pd.Series(d1)
print(series1)


# Creamos un diccionario a partir de dos listas
valores = ['a','b',3,'c',7,'d',10]
indices = ['uno', 'dos','tres','cuatro','cinco','seis', 'siete']
d2 = dict(zip(indices, valores))
print(d2)

series2 = pd.Series(d2)
print(series2)

A    10
B    20
C    30
dtype: int64
{'uno': 'a', 'dos': 'b', 'tres': 3, 'cuatro': 'c', 'cinco': 7, 'seis': 'd', 'siete': 10}
uno        a
dos        b
tres       3
cuatro     c
cinco      7
seis       d
siete     10
dtype: object

## A partir de arrays

In [3]:
import pandas as pd
import numpy as np

x = np.arange(9,0,-1) # Crear un rango de 9 a 1 contando uno a uno (hacia atras)
print(x)
s = pd.Series(data=x**2) # x**2 devuelve el valor de cada elemento de x elevado al cuadrado

print(s)
print(type(s))

[9 8 7 6 5 4 3 2 1]
0    81
1    64
2    49
3    36
4    25
5    16
6     9
7     4
8     1
dtype: int32
<class 'pandas.core.series.Series'>

# Operaciones con Series

## Modificando una serie

In [4]:
s = pd.Series([0, 1, 2, 3, 4])
s.replace(0, 5)

0    5
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
s = pd.Series([10, 'a.3', 'casa', 'b', 'a'])
s.replace({'a': None, 'b':'auto'})

0      10
1     a.3
2    casa
3    auto
4    None
dtype: object

## Operando con series

In [6]:
# Suma acumulada:
s = pd.Series([2, np.nan, 5, -1, 0])
print(s)

s.cumsum()

0    2.0
1    NaN
2    5.0
3   -1.0
4    0.0
dtype: float64

0    2.0
1    NaN
2    7.0
3    6.0
4    6.0
dtype: float64

In [7]:
# Agrupando datos:

ser = pd.Series(data=[390., 350., 30., 20.], index=['Halcon', 'Halcon', 'Loro', 'Loro'], name="Velocidad max")
print(ser)
ser.groupby(level=0).mean()

Halcon    390.0
Halcon    350.0
Loro       30.0
Loro       20.0
Name: Velocidad max, dtype: float64

Halcon    370.0
Loro       25.0
Name: Velocidad max, dtype: float64

In [8]:
# Sumamos dos series:
a = pd.Series([35000,71000,16000,5000],index=['Ohio','Texas','Oregon','Utah'])
b = pd.Series([np.nan,71000,16000,35000],index=['California', 'Texas', 'Oregon', 'Ohio'])

a+b

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [9]:
# Sumamos la serie con el función 'add()':
ab = a.add(b, fill_value=0)

ab

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah            5000.0
dtype: float64

In [10]:
# Concatenamos las series anteriores:
pd.concat((a,b), axis=1)

                  0        1
Ohio        35000.0  35000.0
Texas       71000.0  71000.0
Oregon      16000.0  16000.0
Utah         5000.0      NaN
California      NaN      NaN

# Creando Dataframes

## A partir de un diccionario


Una forma de construir `dataframes` es a partir de diccionarios, de forma tal que asignamos una **lista a cada llave**, que representa una columna del dataframe:

In [11]:
# Tenemos un diccionario donde, para cada alumno tenemos 'nombre', 'nota primer parcial',
# 'nota segundo parcial', 'observaciones' y 'DNI'
datos = {'alumno': ['Zutano', 'Mengano', 'Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,4, 10], 'segundo parcial': [10,9,4,10,10], 
         'observaciones':['ninguna','libre','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100, 99999, 1001,30406011]}

import pandas as pd

df = pd.DataFrame(datos)

print(df)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano               7               10       ninguna  23000000
1          Mengano               8                9         libre  12389100
2             Pepe               7                4       ninguna     99999
3  Fulanito, Cosme               4               10         libre      1001
4            Maria              10               10        oyente  30406011

Vemos que las filas están identificadas con números (0,1,2,..). Esos números corresponden al índice (*index*). Podemos obtener las columnas y el índice de un dataframe como listas usando los siguientes métodos:

## A partir de un archivo:

In [12]:
import pandas as pd
import os

In [13]:
df = pd.read_table("C:\\Users\\andre\\OneDrive\\Escritorio\\ejemplo.txt", delimiter=";")
print(df)
print(type(df))

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano               7               10       ninguna  23000000
1          Mengano               8                9         libre  12389100
2             Pepe               7                4       ninguna     99999
3  Fulanito, Cosme               4               10         libre      1001
4            Maria              10               10        oyente  30406011
<class 'pandas.core.frame.DataFrame'>

In [14]:
# Imprimimos las columnas con las que cuenta el Dataframe:
print(list(df.columns))
# Imprimimos el índice del Dataframe:
print(list(df.index))

# Imprimimos la columna 'primer parcial' del Dataframe:
df['primer parcial']

['alumno', 'primer parcial', 'segundo parcial', 'observaciones', 'DNI']
[0, 1, 2, 3, 4]

0     7
1     8
2     7
3     4
4    10
Name: primer parcial, dtype: int64

## Series y dataframes, a partir de un dataframe

Podemos ademas seleccionar una columna del dataframe como si se tratase de un diccionario. El objeto resultante se llama "series":

In [15]:
# Imprimimos la columna de 'alumno':
print(df['alumno'])

# Seleccionamos la columna 'alumno': 
print(type(df['alumno']))

0             Zutano
1            Mengano
2               Pepe
3    Fulanito, Cosme
4              Maria
Name: alumno, dtype: object
<class 'pandas.core.series.Series'>

Para obtener filas en vez de columnas, podemos usar el método df.loc con una lista de los índices que queremos acceder:

In [16]:
# Cual es la diferencia?

# Como serie:
print(df.loc[1])
print(type(df.loc[1]))


# Como dataframe:
print(df.loc[[1]])
print(type(df.loc[[1]]))

alumno              Mengano
primer parcial            8
segundo parcial           9
observaciones         libre
DNI                12389100
Name: 1, dtype: object
<class 'pandas.core.series.Series'>
    alumno  primer parcial  segundo parcial observaciones       DNI
1  Mengano               8                9         libre  12389100
<class 'pandas.core.frame.DataFrame'>

In [17]:
# O bien:
df.loc[2:4]   # = df.loc[[2,3,4]]

            alumno  primer parcial  segundo parcial observaciones       DNI
2             Pepe               7                4       ninguna     99999
3  Fulanito, Cosme               4               10         libre      1001
4            Maria              10               10        oyente  30406011

# Indices

## Definir un indice diferente

Podríamos haber querido otro índice en vez de [0,1,2,...] para nuestro dataframe. En ese caso, le agregamos el parámetro index a la hora de crearlo:

In [18]:
datos = {'alumno': ['Zutano', 'Mengano', 'Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,4, 10], 'segundo parcial': [10,9,4,10,10], 
         'observaciones':['ninguna','libre','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100, 99999, 1001,30406011]}
df = pd.DataFrame(datos, index=['uno', 3,'cinco', 7,'nueve'])
print(df)

                alumno  primer parcial  segundo parcial observaciones  \
uno             Zutano               7               10       ninguna
3              Mengano               8                9         libre
cinco             Pepe               7                4       ninguna
7      Fulanito, Cosme               4               10         libre
nueve            Maria              10               10        oyente

            DNI
uno    23000000
3      12389100
cinco     99999
7          1001
nueve  30406011

Y el proceso de ubicar filas es igual al anterior:

In [19]:
df.loc[[7,'uno']]

              alumno  primer parcial  segundo parcial observaciones       DNI
7    Fulanito, Cosme               4               10         libre      1001
uno           Zutano               7               10       ninguna  23000000

## Modificar el índice 

Puede que ya hayamos creado un dataframe y después de hacerlo nos demos cuenta de que una de las columnas tiene más sentido como índice que otra. En ese caso, lo que buscamos es reindexar el dataframe usando los valores de esa columna. En general conviene utilizar como índice algo que sea un identificador único de cada elemento en el dataframe; en este caso, el DNI puede cumplir con esa función.

In [20]:
df_DNI = df.set_index('DNI')
print(df_DNI)

                   alumno  primer parcial  segundo parcial observaciones
DNI
23000000           Zutano               7               10       ninguna
12389100          Mengano               8                9         libre
99999                Pepe               7                4       ninguna
1001      Fulanito, Cosme               4               10         libre
30406011            Maria              10               10        oyente

# Métodos de limpieza de datos
Una ventaja del dataframe son los métodos que tiene para la limpieza de datos. Esto es útil si por ejemplo queremos descartar filas o columnas duplicadas o con datos faltantes. Supongamos que tenemos un dataframe en el cual faltan algunos datos (identificados con "nan") y algunas de las filas están duplicadas.

In [21]:
import numpy as np          # Necesitamos la libreria numpy para escribir 'nan'
datos = {'alumno': ['Zutano', 'Mengano', 'Zutano','Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,7,np.nan, 10], 'segundo parcial': [10,9,10,4,10,np.nan], 
         'observaciones':['ninguna','libre','ninguna','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100,23000000, 99999, 1001,30406011]}
df = pd.DataFrame(datos)
print(df)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011

Eliminamos las columnas que tienen Nan. Para eso usamos el método df.dropna():

In [22]:
df_2 = df.dropna()
print(df_2)

    alumno  primer parcial  segundo parcial observaciones       DNI
0   Zutano             7.0             10.0       ninguna  23000000
1  Mengano             8.0              9.0         libre  12389100
2   Zutano             7.0             10.0       ninguna  23000000
3     Pepe             7.0              4.0       ninguna     99999

Observemos que había varias maneras de hacer esto. Por ejemplo, podríamos haber querido eliminar las columnas que tenían un 'nan', en vez de las filas:

In [23]:
df_3 = df.dropna(axis=1)
print(df_3)

            alumno observaciones       DNI
0           Zutano       ninguna  23000000
1          Mengano         libre  12389100
2           Zutano       ninguna  23000000
3             Pepe       ninguna     99999
4  Fulanito, Cosme         libre      1001
5            Maria        oyente  30406011

O podríamos haber querido eliminar las filas que tengan TODOS los valores 'nan'. También podríamos haber específicado un subset de las columnas para verificar si las filas tienen valores 'nan' y removerlas en ese caso.

In [24]:
# El argumento how = 'all' especifica que se deben eliminar solo aquellas filas en las que 
# todos los valores son NaN. Esto significa que si una fila tiene algún valor no NaN, 
# esa fila no será eliminada.

df_4 = df.dropna(how = 'all')
print(df_4)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011

In [25]:
# El argumento subset = ['primer parcial', 'observaciones'] especifica que solo se deben 
# eliminar las filas en las que los valores en las columnas 'primer parcial' y 'observaciones' 
# sean NaN.

df_5 = df.dropna(subset = ['primer parcial','observaciones'])
print(df_5)

    alumno  primer parcial  segundo parcial observaciones       DNI
0   Zutano             7.0             10.0       ninguna  23000000
1  Mengano             8.0              9.0         libre  12389100
2   Zutano             7.0             10.0       ninguna  23000000
3     Pepe             7.0              4.0       ninguna     99999
5    Maria            10.0              NaN        oyente  30406011

Por último, puede que no queramos crear un dataframe nuevo. En ese caso, hacemos lo siguiente y modificamos el dataframe original:

In [26]:
df.dropna(inplace = True)
print(df)

    alumno  primer parcial  segundo parcial observaciones       DNI
0   Zutano             7.0             10.0       ninguna  23000000
1  Mengano             8.0              9.0         libre  12389100
2   Zutano             7.0             10.0       ninguna  23000000
3     Pepe             7.0              4.0       ninguna     99999

Puede que no queramos eliminar las filas o columnas que tienen 'nan', sino llenar esas entradas usando algun valor fijo, o un promedio de las demás entradas de la fila o la columna. Para eso volvemos a definir el dataframe (porque lo modificamos en el bloque de código anterior) y luego probamos el método df.fillna()

In [27]:
datos = {'alumno': ['Zutano', 'Mengano', 'Zutano','Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,7,np.nan, 10], 
         'segundo parcial': [10,9,10,4,10,np.nan], 
         'observaciones':['ninguna','libre','ninguna','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100,23000000, 99999, 1001,30406011]}
df = pd.DataFrame(datos)
print(df)
df_2 = df.fillna(0)
print(df_2)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011
            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             0.0             10.0         libre      1001
5            Maria            10.0              0.0        oyente  30406011

Esto claramente reeplaza los valores faltantes usando un valor prefijado. Podemos también usar medias o medianas:

In [28]:
a = df['primer parcial']
df_3 = df.fillna(a.mean())
print(df_3)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             7.8             10.0         libre      1001
5            Maria            10.0              7.8        oyente  30406011

Primero, en 'a' están los valores de la columna 'primer parcial'. Luego, dentro de 'fillna' ponemos  'a.mean()' que computa el valor medio de todas las entradas que no son 'nan' de esa columna. Ese valor es 7.8, el cual se completa en todas las entradas que tienen 'nan'.

Es lógico preguntarse si en realidad, nos gustaría reemplazar el 'nan' de la columna 'segundo parcial' por un promedio de los valores de esa columna, y no de 'primer parcial'.

In [29]:
a = df['primer parcial']
b = df['segundo parcial']
fill_dict = {'primer parcial':a.mean(), 'segundo parcial':b.mean()}
df_4 = df.fillna(fill_dict)
print(df_4)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             7.8             10.0         libre      1001
5            Maria            10.0              8.6        oyente  30406011

Vemos que ahora usa valores diferentes para completar los 'nan' de cada columna (7.8 y 8.6). La forma de hacerlo es pasar un diccionario donde las llaves indican las columnas y los valores, por lo que debe ser reemplazado el nan.

Obviamente el valor medio únicamente tiene sentido para datos numéricos, pero podemos reemplazar los datos de otras formas si los datos son no numéricos (por ejemplo, por la entrada más frecuente).

Puede que querramos filtrar los datos mediante algún criterio distinto, por ejemplo, retener únicamente a los alumnos libres, o bien a aquellos cuyo primer parcial fue mayor a 7.

Una forma sencilla es iterar el índice, y eliminar las filas que no cumplan con la condición dada.

In [31]:
datos = {'alumno': ['Zutano', 'Mengano', 'Zutano','Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,7,np.nan, 10], 
         'segundo parcial': [10,9,10,4,10,np.nan], 
         'observaciones':['ninguna','libre','ninguna','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100,23000000, 99999, 1001,30406011]
         }
df = pd.DataFrame(datos)

for x in df.index:
  if not df.loc[x, "observaciones"] == 'libre':
    df.drop(x, inplace = True)
print(df)

            alumno  primer parcial  segundo parcial observaciones       DNI
1          Mengano             8.0              9.0         libre  12389100
4  Fulanito, Cosme             NaN             10.0         libre      1001

In [32]:
# Una mejor forma de hacerlo:
datos = {'alumno': ['Zutano', 'Mengano', 'Zutano','Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,7,np.nan, 10], 
         'segundo parcial': [10,9,10,4,10,np.nan], 
         'observaciones':['ninguna','libre','ninguna','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100,23000000, 99999, 1001,30406011]
         }
df = pd.DataFrame(datos)

df_libre = df[df['observaciones']=='libre']
print(df_libre)

            alumno  primer parcial  segundo parcial observaciones       DNI
1          Mengano             8.0              9.0         libre  12389100
4  Fulanito, Cosme             NaN             10.0         libre      1001

In [34]:
# Utilizamos un 'loop for' para filtrar aquellos valores de la columna 'primer parcial' menores a 7:
datos = {'alumno': ['Zutano', 'Mengano', 'Zutano','Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,7,np.nan, 10], 
         'segundo parcial': [10,9,10,4,10,np.nan], 
         'observaciones':['ninguna','libre','ninguna','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100,23000000, 99999, 1001,30406011]
         }
df = pd.DataFrame(datos)

# En este caso se muestran aquellos que fueron eliminados, es decir, mayores a 7:
for x in df.index:
  if df.loc[x, "primer parcial"] <= 7:
    df.drop(x, inplace = True)
print(df)

            alumno  primer parcial  segundo parcial observaciones       DNI
1          Mengano             8.0              9.0         libre  12389100
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011

## Tratando datos duplicados

Por último, puede que querramos remover duplicados. La forma más sencilla de hacerlo es con el método 'drop_duplicates()':

In [35]:
datos = {'alumno': ['Zutano', 'Mengano', 'Zutano','Pepe' ,'Fulanito, Cosme', 'Maria'], 
         'primer parcial': [7, 8,7,7,np.nan, 10], 
         'segundo parcial': [10,9,10,4,10,np.nan], 
         'observaciones':['ninguna','libre','ninguna','ninguna','libre','oyente'], 
         'DNI':[23000000, 12389100,23000000, 99999, 1001,30406011]
         }
df = pd.DataFrame(datos)
print(df)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011

In [36]:
df_2 = df.drop_duplicates()
print(df_2)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011

Algunos de los métodos que podemos aplicar a los dataframes son útiles para tener una idea de los valores de una columna sin tener que hacer demasiado trabajo. Esto es lo que podemos hacer con 'value_counts()', que nos devuelve todos los valores que toman las entradas de la columna y, la cantidad de veces que ocurren.

In [37]:
df['observaciones'].value_counts()

ninguna    3
libre      2
oyente     1
Name: observaciones, dtype: int64

# Combinar Dataframes

Lo último que vamos a ver en este Notebook es cómo combinar dos o más dataframes en uno solo.

La forma más sencilla es hacer append de un dataframe a otro, ambos con las mismas columnas.

In [40]:
datos_1 = {'alumno': ['Zutano', 'Mengano', 'Zutano','Pepe' ,'Fulanito, Cosme', 'Maria'], 
           'primer parcial': [7, 8,7,7,np.nan, 10], 
           'segundo parcial': [10,9,10,4,10,np.nan], 
           'observaciones':['ninguna','libre','ninguna','ninguna','libre','oyente'], 
           'DNI':[23000000, 12389100,23000000, 99999, 1001,30406011]
           }
df_1 = pd.DataFrame(datos_1)

datos_2 = {'alumno': ['Diego', 'Flor', 'José'], 
           'primer parcial': [10,10,8], 
           'segundo parcial': [8,8,8], 
           'observaciones':['ninguna','libre','libre'], 
           'DNI':[23299, 1043101,4406533]
           }
df_2 = pd.DataFrame(datos_2)

df_3 = df_1.append(df_2)
print(df_3)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011
0            Diego            10.0              8.0       ninguna     23299
1             Flor            10.0              8.0         libre   1043101
2             José             8.0              8.0         libre   4406533

C:\Users\andre\AppData\Local\Temp\ipykernel_4440\2811770482.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_3 = df_1.append(df_2)

Vemos que esto tiene un potencial problema: aparecen filas que tienen el mismo valor del índice, lo cual puede complicar localizarlas.

Para resolver este problema, podemos usar 'pd.concat' de la siguiente forma:

In [41]:
df_3 = df_1.append(df_2, ignore_index = True)               
print(df_3)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011
6            Diego            10.0              8.0       ninguna     23299
7             Flor            10.0              8.0         libre   1043101
8             José             8.0              8.0         libre   4406533

C:\Users\andre\AppData\Local\Temp\ipykernel_4440\2166547122.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_3 = df_1.append(df_2, ignore_index=True)

In [43]:
# O bien, podemos utilizar:
df_3 = pd.concat( (df_1, df_2), axis = 0, join = "outer", ignore_index = True)
print(df_3)

            alumno  primer parcial  segundo parcial observaciones       DNI
0           Zutano             7.0             10.0       ninguna  23000000
1          Mengano             8.0              9.0         libre  12389100
2           Zutano             7.0             10.0       ninguna  23000000
3             Pepe             7.0              4.0       ninguna     99999
4  Fulanito, Cosme             NaN             10.0         libre      1001
5            Maria            10.0              NaN        oyente  30406011
6            Diego            10.0              8.0       ninguna     23299
7             Flor            10.0              8.0         libre   1043101
8             José             8.0              8.0         libre   4406533

*El argumento axis = 0 especifica que se debe concatenar los dataframes a lo largo del eje 0, es decir, que se deben unir las filas de los dataframes df_1 y df_2 para crear el dataframe df_3.*

*El argumento join = "outer" especifica que el tipo de unión a realizar es una unión externa. Esto significa que se mantendrán todas las filas y columnas de ambos dataframes, y donde no haya correspondencia de valores, se completarán con NaN en el dataframe resultante df_3.*

*El argumento ignore_index = True especifica que se debe ignorar el índice original de los dataframes df_1 y df_2 y crear un nuevo índice para el dataframe resultante df_3.*

Vemos cómo en este caso el índice se reinicia empezando desde 0. Por supuesto, como vimos antes, siempre podemos reindexar usando otra columna que sirva a ese propósito (el DNI sería la mejor opción).

El proceso de unir o mergear dos dataframes con distintas columnas es familiar para aquellos con alguna experiencia en SQL. Supongamos que tenemos este dataframe reindexado por el DNI:

In [44]:
df_DNI = df_3.set_index('DNI')
print(df_DNI)

                   alumno  primer parcial  segundo parcial observaciones
DNI
23000000           Zutano             7.0             10.0       ninguna
12389100          Mengano             8.0              9.0         libre
23000000           Zutano             7.0             10.0       ninguna
99999                Pepe             7.0              4.0       ninguna
1001      Fulanito, Cosme             NaN             10.0         libre
30406011            Maria            10.0              NaN        oyente
23299               Diego            10.0              8.0       ninguna
1043101              Flor            10.0              8.0         libre
4406533              José             8.0              8.0         libre

Supongamos que tenemos además otro dataframe indexado por el el DNI, con algún solapamiento parcial con este dataset:

In [45]:
datos_1 = {'alumno': ['Roberto', 'Mengano', 'Carlos','Marisol' ,'Fulanito, Cosme'], 
           'cuota al día': ['sí','sí','no','no','sí'], 
           'año que cursa': [2, 2, 2, 1, 4]
           }
df_1 = pd.DataFrame(datos_1, index=[3934444, 12389100, 2939393, 10102394,1001])
print(df_1)

                   alumno cuota al día  año que cursa
3934444           Roberto           sí              2
12389100          Mengano           sí              2
2939393            Carlos           no              2
10102394          Marisol           no              1
1001      Fulanito, Cosme           sí              4

Podemos combinar toda esta información en una misma tabla, de forma tal que, el índice determine cómo se unen las filas:

In [47]:
df_all = pd.merge(df_DNI, df_1, how = "inner")
print(df_all)

            alumno  primer parcial  segundo parcial observaciones  \
0          Mengano             8.0              9.0         libre
1  Fulanito, Cosme             NaN             10.0         libre

  cuota al día  año que cursa
0           sí              2
1           sí              4

*El argumento how = "inner" especifica que se debe realizar una operación de unión interna. Esto significa que solo se conservarán las filas que tienen correspondencia en ambos dataframes. En otras palabras, solo se incluirán las filas en las que los valores de una columna clave común existan tanto en df_DNI como en df_1.*

Vemos que el merge unión a los que estaban en la intersección de ambos dataframes. Esto cambia a la únion si modificamos 'inner' por 'outer':

In [48]:
df_all = pd.merge(df_DNI,df_1, how="outer")
print(df_all)

             alumno  primer parcial  segundo parcial observaciones  \
0            Zutano             7.0             10.0       ninguna
1            Zutano             7.0             10.0       ninguna
2           Mengano             8.0              9.0         libre
3              Pepe             7.0              4.0       ninguna
4   Fulanito, Cosme             NaN             10.0         libre
5             Maria            10.0              NaN        oyente
6             Diego            10.0              8.0       ninguna
7              Flor            10.0              8.0         libre
8              José             8.0              8.0         libre
9           Roberto             NaN              NaN           NaN
10           Carlos             NaN              NaN           NaN
11          Marisol             NaN              NaN           NaN

   cuota al día  año que cursa
0           NaN            NaN
1           NaN            NaN
2            sí            2.0
3           NaN            NaN
4            sí            4.0
5           NaN            NaN
6           NaN            NaN
7           NaN            NaN
8           NaN            NaN
9            sí            2.0
10           no            2.0
11           no            1.0