# Data Acquisition

## Objetivos

1. Identificar el ciclo de vida de un proyecto de ciencia de datos.
2. Rastrear el origen de los datos y su uso.
3. Leer datos con `pandas`.

## 1. Librería `pandas`

En sesiones anteriores hemos realizado explorado la herramienta `pandas` para el procesamiento de datos, aquí veremos algunos ejemplos de su uso para la adquisición de datos de diversos formatos.

In [1]:
# Importar la librería
import pandas as pd

### 1.1. Lectura de archivos

La librería `pandas` permite manipular información de diversas fuentes. Con invocar un función, es posible transformar estas fuentes en objetos `Dataframe` dentro del entorno de Python.<br>

#### Importar archivos en formato `.csv`

Los archivos delimitados por comas o 'csv' son uno de los formatos de archivos más comunes en el procesamiento de datos.

In [2]:
# Cargar un dataframe con el archivo 'pune_1965_to_2002.csv'
df = pd.read_csv("pune_1965_to_2002.csv")
df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1,1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
2,1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
3,1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
4,1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

In [3]:
# Leer archivo de datos "us_presidents 2.csv"
presidentes = pd.read_csv("us_presidents 2.csv")
presidentes.head()

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins

In [4]:
presidentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  45 non-null     int64
 1   S.No.       45 non-null     int64
 2   start       45 non-null     object
 3   end         44 non-null     object
 4   president   45 non-null     object
 5   prior       45 non-null     object
 6   party       45 non-null     object
 7   vice        45 non-null     object
dtypes: int64(2), object(6)
memory usage: 2.9+ KB

#### Formato `.csv` con delimitador `;`

Cuando se tienen archivos su separador no es una `,` sino un `;`, se puede solucionar muy fácilmente usando `pandas` al establecer el delimitador.<br>
    
    read_csv(file = "nombre_archivo.csv", delimiter = ';')

In [5]:
# Cargar un dataframe con el archivo "DiccionarioPaises.csv"
pd.read_csv("DiccionarioPaises.csv", delimiter=";")

    País en español País en inglés
0        Afganistán    Afghanistan
1           Albania        Albania
2          Alemania        Germany
3           Andorra        Andorra
4            Angola         Angola
..              ...            ...
204         Vietnam        Vietnam
205           Yemen          Yemen
206          Yibuti       Djibouti
207          Zambia         Zambia
208        Zimbabue       Zimbabwe

[209 rows x 2 columns]

#### Importación de archivos en formato Excel `.xls` o `.xlsx`

Los archivos provenientes de MS-Excel puede ser fácilmente importado mediante `pandas` con una estructura similar a la siguiente:<br>
    
    read_excel(file = "nombre_archivo.xlsx")

In [6]:
# Cargar un dataframe con el archivo "ArchivoSoporteS3TU1.xlsx"
pd.read_excel("ArchivoSoporteS3TU1.xlsx")

      Nombre  Edad  Ingresos Ciudad Residencia
0       Juan    48        71            Bogotá
1      Maria    29       150              Lima
2      Jorge    43        98      Buenos Aires
3      Pablo    50       105            Bogotá
4      Laura    33        80            La Paz
5    Esteban    21       127              Lima
6    Juliana    48       131            La Paz
7  Valentina    47        89            Bogotá
8    Silvana    43       109      Buenos Aires

## 2. Ejemplos de aplicación

Aplicación del desafío genérico para el archivo de datos 'encuesta.txt'

In [7]:
# Cargar un dataframe con los datos del archivo 'encuesta.txt'
pd.read_csv(
    "encuesta.txt",
    delim_whitespace=True,
    true_values=["si"],
    false_values=["no"],
    dtype={"asistio": bool, "Tarea": bool},
)

                                  ID  asistio  Tarea  Comportamiento   Pago
0    cef3615d61b202f1dc794ef2746df14     True   True             0.0   True
1    323e5a13644d18185c743c241407754    False  False             NaN  False
2    b29a107e5cd062e654a63764157461d    False  False             NaN  False
3   04a11e4bcb573a1261eb0d9948d32637     True  False             0.0   True
4    9368291c3d5d5f5c8cdb1a575e18bec     True  False             0.0   True
5    dd0e77eab270e4b67c19b0d6bbf621b    False  False             NaN  False
6    7599c0aa419b59fd11ffede98a3665d    False  False             NaN   True
7    6dff182b452487f07a47596f314bddc    False   True             NaN   True
8    9dc233fed1c6eb2432672ab4bb39249    False  False             NaN  False
9   265fa78a1fb2409ff5416aec3c4f950d     True  False             0.0   True
10  3b461f95fe50be35b927c255b3f7dc3a     True   True             1.0  False
11  e786f1288887afb309eb913d28ffd6b0     True  False             0.0   True
12   10c74fd18bddfb3e26c1878a853e7f8     True  False             0.0   True
13   13b67c51d575bf29827debf0618b445     True  False             0.0   True
14   1f641566628797bf0f811701e818b2c     True   True             0.0   True
15  1ae10dc0d6fed06e8954af5f313cedf1    False  False             NaN   True
16  7dfbad6a32c7477604dea655327f20a2    False  False             NaN   True
17  b953218838a2f7057ec179cae0cf83ad     True  False             1.0   True
18  87fcfe4315ee8a3fb554d8bf608cb2ac     True  False             0.0   True
19  9b4935e514bdc9b66a35a085c229775c     True   True             0.0   True
20  8cf2a0f6b368a4a42572f775df0f5f90     True   True             1.0  False
21  b3d1716309461078c892edcd68db7d4c     True  False             0.0   True
22  be38b0df499caf723af579aa6b173b0a    False   True             NaN  False
23  97d2a0572f74acd8c4683ce7b72039db     True   True             0.0   True
24  4bfe54e669aa8eaf4c9db1b809f3b511    False  False             NaN  False
25  36f9d95975bfd2c89cfe75baca2d58d2     True  False             0.0   True
26  e886db962a67fdf6cddbd4e85ea5d6e6    False   True             NaN   True
27  212332278cfd07d49c4df986e6fbda1e     True   True             0.0   True
28  fb120d2658407cbedfd9f1136c94ac61     True  False             1.0   True
29  df891ef669fb23701f6622f14843bda2    False   True             NaN   True

Lectura de archivos `pickle`

In [10]:
# Leamos el archivo 'data.pkl'
pd.read_pickle("data.pkl", compression="gzip")

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife
...,...,...,...,...,...,...,...,...,...
48838,39.0,Female,735617153,White,United-States,Bachelors,13.0,Divorced,Not-in-family
48839,64.0,Male,1131807446,Black,United-States,HS-grad,9.0,Widowed,Other-relative
48840,38.0,Male,781422087,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
48841,44.0,Male,161771296,Asian-Pac-Islander,United-States,Bachelors,13.0,Divorced,Own-child
48842,35.0,Male,1344995623,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband

Comparación de velocidad entre distintos tipos de archivos

In [11]:
import time


# Función para medir el tiempo de lectura de un archivo
def medir_tiempo_lectura(archivo, funcion_lectura):
    inicio = time.time()
    df = funcion_lectura(archivo)
    fin = time.time()
    tiempo_transcurrido = fin - inicio
    return tiempo_transcurrido


# Archivos a comparar
archivos = [
    ("DiccionarioPaises.csv", lambda archivo: pd.read_csv(archivo, delimiter=";")),
    ("ArchivoSoporteS3TU1.xlsx", lambda archivo: pd.read_excel(archivo)),
    (
        "encuesta.txt",
        lambda archivo: pd.read_csv(
            archivo,
            delim_whitespace=True,
            true_values=["si"],
            false_values=["no"],
            dtype={"asistio": bool, "Tarea": bool},
        ),
    ),
    ("data.pkl", lambda archivo: pd.read_pickle(archivo, compression="gzip")),
]

# Medir y comparar los tiempos de lectura
for nombre_archivo, funcion_lectura in archivos:
    tiempo = medir_tiempo_lectura(nombre_archivo, funcion_lectura)
    print(f"Tiempo de lectura de '{nombre_archivo}': {tiempo} segundos")

Tiempo de lectura de 'DiccionarioPaises.csv': 0.002540111541748047 segundos
Tiempo de lectura de 'ArchivoSoporteS3TU1.xlsx': 0.019208669662475586 segundos
Tiempo de lectura de 'encuesta.txt': 0.0025548934936523438 segundos
Tiempo de lectura de 'data.pkl': 0.0361635684967041 segundos

## 3. Importación de multiples archivos a Python

Existen varias formas en las que podemos traer varios archivos al entorno de trabajo de `python`. Traigamos todos los dataframes de los archivos `.csv` corrientes.

### 3.1. Metodo exhaustivo

In [14]:
csv_1 = pd.read_csv("data.csv", delimiter="|")
csv_2 = pd.read_csv("pune_1965_to_2002.csv")

### 3.2. Metodo basado en los nombres

In [15]:
df_nombres = ["data.csv", "pune_1965_to_2002.csv", "us_presidents 2.csv"]
dataframes = [pd.read_csv(i) for i in df_nombres]
dataframes[2]

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins
5,5,6,"March 4, 1825","March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun
6,6,7,"March 4, 1829","March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
7,7,8,"March 4, 1837","March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson
8,8,9,"March 4, 1841","April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler
9,9,10,"April 4, 1841","March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant
10,10,11,"March 4, 1845","March 4, 1849",James K. Polk,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas
11,11,12,"March 4, 1849","July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore
12,12,13,"July 9, 1850","March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant
13,13,14,"March 4, 1853","March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King
14,14,15,"March 4, 1857","March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
15,15,16,"March 4, 1861","April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin
16,16,17,"April 15, 1865","March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant
17,17,18,"March 4, 1869","March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864–...,Republican,Schuyler Colfax
18,18,19,"March 4, 1877","March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868–1872 & 1...,Republican,William A. Wheeler
19,19,20,"March 4, 1881","September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur
20,20,21,"September 19, 1881","March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant
21,21,22,"March 4, 1885","March 4, 1889",Grover Cleveland,28th Governor of New York (1883–1885),Democratic,Thomas A. Hendricks
22,22,23,"March 4, 1889","March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton
23,23,24,"March 4, 1893","March 4, 1897",Grover Cleveland,22nd President of the United States (1885–1...,Democratic,Adlai Stevenson
24,24,25,"March 4, 1897","September 14, 1901",William McKinley,39th Governor of Ohio (1892–1896),Republican,Garret Hobart
25,25,26,"September 14, 1901","March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant
26,26,27,"March 4, 1909","March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904–1...,Republican,James S. Sherman
27,27,28,"March 4, 1913","March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911–1913),Democratic,Thomas R. Marshall
28,28,29,"March 4, 1921","August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge
29,29,30,"August 2, 1923","March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant
30,30,31,"March 4, 1929","March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis
31,31,32,"March 4, 1933","January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929–1932 ),Democratic,John Nance Garner
32,32,33,"April 12, 1945","January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant
33,33,34,"January 20, 1953","January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949–1952 ),Republican,Richard Nixon
34,34,35,"January 20, 1961","November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson
35,35,36,"November 22, 1963","January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant
36,36,37,"January 20, 1969","August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew
37,37,38,"August 9, 1974","January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant
38,38,39,"January 20, 1977","January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971–1975),Democratic,Walter Mondale
39,39,40,"January 20, 1981","January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967–1975 ),Republican,George H. W. Bush
40,40,41,"January 20, 1989","January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle
41,41,42,"January 20, 1993","January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore
42,42,43,"January 20, 2001","January 20, 2009",George W. Bush,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney
43,43,44,"January 20, 2009",NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
44,44,45,"January 20, 2017",--,Donald Trump,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence

### 3.3. Metodo de inspección de entorno

In [16]:
# Importe la libreria glob
from glob import glob

nombres_1 = glob("*.csv")
nombres_1

['data.csv',
 'DiccionarioPaises.csv',
 'pune_1965_to_2002.csv',
 'us_presidents 2.csv']

In [17]:
pd.read_csv(nombres_1[0])

      Age|Sex|ID|Race|Country|Education|Education-Num|Marital Status|Relationship
0      39.0| Male|49084| White| United-States| Bachel...
1      50.0| Male|68553| White| United-States| Bachel...
2      38.0| Male|143654| White| United-States| HS-gr...
3      53.0| Male|41510| Black| United-States| 11th|7...
4      28.0| Female|195025| Black| Cuba| Bachelors|13...
...                                                  ...
48838  39.0| Female|735617153| White| United-States| ...
48839  64.0| Male|1131807446| Black| United-States| H...
48840  38.0| Male|781422087| White| United-States| Ba...
48841  44.0| Male|161771296| Asian-Pac-Islander| Unit...
48842  35.0| Male|1344995623| White| United-States| B...

[48843 rows x 1 columns]