# **CODERHOUSE DS - 22745**
## Clase 26. Data Acquisition II

## Objetivos

1. Acceder a bases de datos de sql haciendo uso de la librería `pandas`.
2. Leer archivos `JSON` con `pandas`.
3. Usar APIs.

## 1. Información en bases de datos `SQL`

En el módulo anterior me mostró como la información se puede encontrar en diferentes tipos de archivos y configuraciones de almacenamiento, aquí es relevante mencionar que lo más frecuente es encontrar información disponible en bases de datos relacionales, a las que es posible acceder mediante conexiones ODBC y sistemas de manejo tales como MySQL o SQL Server entre otros.

### 1.1. Paquete `sqlite3`

El paquete `sqlite3` permite realizar conexiones a las bases de datos de `SQLite` el cúal es un motor de base de datos basado en el lenguaje de programación C. Es posible convertir la información contenida en los esquemas de la base de datos a objetios de tipo `Dataframe` dentro del entorno de Python.<br>

A continuación realizaremos la importación de los paquetes `pandas` con su alias más común y de `sqlite3` sin alias:

In [1]:
# Importe al notebook las librerías pandas y sqlite3
import pandas as pd
import sqlite3

Una vez que el entorno de trabajo tiene cargado los paquetes de utilidad procederemos a realizar la conexión con una base de datos. En este caso emplearemos la base de datos `nba_salary.sqlite` disponible en la carpeta del curso. Para lograrlo lo ideal será realizar una estructura como la mostrada a continuación:
~~~ python
#Creación de la conexion
con = sqlite3.connect("ruta_archivo")
~~~
~~~ sql
--Definición de las sentencias SQL
sql = SELECT * FROM sqlite_master  --> trae todo el contenido dento del esquema cargado en la conexión
~~~ 
~~~ python
# Lectura a Dataframe de la query
df = pd.read_sql_query(sql,con)
~~~

In [2]:
# Cree la conexión a la base de datos
con = sqlite3.connect("nba_salary.sqlite")

In [4]:
# Cree el objeto de tipo DataFrame con el resultado de la query
query = "SELECT * from sqlite_master"
df = pd.read_sql_query(query, con)
df

    type  ...                                                sql
0  table  ...  CREATE TABLE `NBA_season1718_salary` (\n  `X1`...
1  table  ...  CREATE TABLE `Seasons_Stats` (\n  `X1` REAL,\n...

[2 rows x 5 columns]

Una vez que se ha inspeccionado el objeto de base de datos, se desea acceder a una de las dos tablas existentes, en este caso la tabla `Seasons_Stats`. Realice la consulta (query) usando una sentencia de SQL simple para construir un nuevo objeto DataFrame `df_1` con esta data.

In [ ]:
# Cree el nuevo objeto df_1 con los datos de la tabla Seasons_Stats

### 1.2. Paquete `sqlalchemy`

El paquete `sqlalchemy` permite acceder a virtualmente cualquier tipo de base de datos. Al igual que lo mostrado anteriomente, es necesario generar una conexión a la ruta de la base de datos de nuestro interés, incluyendo el tipo de motor de base de datos que sea de interés.

Una estructura útil para emplear esta herramienta se muestra a continuación:
~~~ python
import sqlachemy as db
engine = db.create_engine('motor:///ruta_base_datos')
connection = engine.connect()
~~~

Utilice la estructura mostrada anteriormente para crear la conexión usando la librería `sqlalchemy` y la función `read_sql_query` del paquete `pandas` para crear un nuevo objeto Dataframe llamado df_sqlalchemy que contenga todos los datos de la tabla `NBA_season1718_salary`.

In [ ]:
# Escriba aquí su código

### 1.3 Desafío Genérico

1. Leer el dataset de utilizado para extraer solo los jugadores con mayor salario que 10 millones de dólares.

2. Extraer de esos jugadores las estadísticas correspondientes a ese año que provienen de la tabla Season_Stats del año 2017.

3. Calcular de la tabla Season_Stats el promedio total de puntos PTS, asistencias AST y faltas personales PF.

In [9]:
con = sqlite3.connect("nba_salary.sqlite")
query = "SELECT * from sqlite_master"
df = pd.read_sql_query(query, con)
df

    type  ...                                                sql
0  table  ...  CREATE TABLE `NBA_season1718_salary` (\n  `X1`...
1  table  ...  CREATE TABLE `Seasons_Stats` (\n  `X1` REAL,\n...

[2 rows x 5 columns]

In [ ]:
# Ejercicio 1
query = "SELECT * from NBA_season1718_salary WHERE season17_18 > 10000000"
df = pd.read_sql_query(query, con)
df

In [10]:
# Ejercicio 2
query_1 = "SELECT * from NBA_season1718_salary"
df_1 = pd.read_sql_query(query_1, con)
df_1

        X1          Player   Tm  season17_18
0      1.0   Stephen Curry  GSW   34682550.0
1      2.0    LeBron James  CLE   33285709.0
2      3.0    Paul Millsap  DEN   31269231.0
3      4.0  Gordon Hayward  BOS   29727900.0
4      5.0   Blake Griffin  DET   29512900.0
..     ...             ...  ...          ...
568  569.0      Quinn Cook  NOP      25000.0
569  570.0   Chris Johnson  HOU      25000.0
570  571.0      Beno Udrih  DET      25000.0
571  572.0   Joel Bolomboy  MIL      22248.0
572  573.0    Jarell Eddie  CHI      17224.0

[573 rows x 4 columns]

In [11]:
query_2 = "SELECT * from Seasons_Stats"
df_2 = pd.read_sql_query(query_2, con)
df_2

            X1    Year             Player  Pos  ...  BLK TOV     PF    PTS
0          0.0  1950.0    Curly Armstrong  G-F  ...  NaN NaN  217.0  458.0
1          1.0  1950.0       Cliff Barker   SG  ...  NaN NaN   99.0  279.0
2          2.0  1950.0      Leo Barnhorst   SF  ...  NaN NaN  192.0  438.0
3          3.0  1950.0         Ed Bartels    F  ...  NaN NaN   29.0   63.0
4          4.0  1950.0         Ed Bartels    F  ...  NaN NaN   27.0   59.0
...        ...     ...                ...  ...  ...  ...  ..    ...    ...
24686  24686.0  2017.0        Cody Zeller   PF  ...  NaN NaN  189.0  639.0
24687  24687.0  2017.0       Tyler Zeller    C  ...  NaN NaN   61.0  178.0
24688  24688.0  2017.0  Stephen Zimmerman    C  ...  NaN NaN   17.0   23.0
24689  24689.0  2017.0        Paul Zipser   SF  ...  NaN NaN   78.0  240.0
24690  24690.0  2017.0        Ivica Zubac    C  ...  NaN NaN   66.0  284.0

[24691 rows x 53 columns]

In [36]:
jj = df_1.Player[df_1.season17_18 > 10000000]
df_2[(df_2.Player.isin(jj)) & (df_2.Year == 2017)]

            X1    Year                 Player Pos  ...  BLK TOV     PF     PTS
24100  24100.0  2017.0           Steven Adams   C  ...  NaN NaN  195.0   905.0
24104  24104.0  2017.0      LaMarcus Aldridge  PF  ...  NaN NaN  158.0  1243.0
24114  24114.0  2017.0          Ryan Anderson  PF  ...  NaN NaN  142.0   979.0
24115  24115.0  2017.0  Giannis Antetokounmpo  SF  ...  NaN NaN  246.0  1832.0
24116  24116.0  2017.0        Carmelo Anthony  SF  ...  NaN NaN  198.0  1659.0
...        ...     ...                    ...  ..  ...  ...  ..    ...     ...
24654  24654.0  2017.0      Russell Westbrook  PG  ...  NaN NaN  190.0  2558.0
24657  24657.0  2017.0       Hassan Whiteside   C  ...  NaN NaN  226.0  1309.0
24670  24670.0  2017.0        Marvin Williams  PF  ...  NaN NaN  134.0   849.0
24685  24685.0  2017.0         Thaddeus Young  PF  ...  NaN NaN  135.0   814.0
24686  24686.0  2017.0            Cody Zeller  PF  ...  NaN NaN  189.0   639.0

[134 rows x 53 columns]

In [ ]:
# Ejercicio 3

## 2. Javascript Object Notation JSON

El tipo de archivos `json` son muy comunes en los entornos de ciencia de datos e inteligencia de negocio. Se trata de bases de datos semi-estructuradas que permiten cierta flexibilidad en los contenidos de sus esquemas y son ampliamente utilizadas para enviar información mediante API's.

### 2.1. Lectura de archivos `json`
Python dentro de su concepción tiene un paquete nativo para manipular información en formato de notación de javascript, se le conoce como el paquete `json`. A continuación se muestra una codificación útil para importar al entorno de Python un archivo de este tipo:

~~~ python
import json
file = open('ruta_archivo')
data = json.load(file)
~~~

Realice a continuación la carga de la información del archivo `ejemplo_1.json` en una variable de nombre `data`.

### 2.2. Transformación de strings a formato `json`

Una de las tareas más comunes de un profesional de datos es realizar transacciones de información con herramientas computacionales en la nube, estas transacciones normalmente requieren de una entrada de información en formato JSON. Para esto es conveniente saber transformar un texto que se asemeje a un diccionario en el formato adecuado.

Con un ejemplo usando al famoso personaje Homero Simpson, se creará un diccionario de su información sociodemográfica y luego se accederá para ver la variedad de elementos disponibles.

In [ ]:
# Crear un string con la información personal de Homero para procesarse como un JSON

In [ ]:
# Transformación a JSON e inspección de elementos

## 3. Interfaz de programación de aplicaciones

Las API's son interfaces que permiten la comunicación entre dos sistemas distintos permitiendo agregar diversas funciones a sitios web y aplicaciones y permite definir como las aplicaciones se comunican con otros programas.

Se emplean como herramientas para obtener datos de una aplicación sin conocer los detalles de la bases de datos.

In [ ]:
# Importación de la librería
import requests

url = "https://raw.githubusercontent.com/bttmly/nba/master/data/teams.json"

In [ ]:
# Creacion de objeto request

In [ ]:
# Transformación a DataFrame