# Preprocesamiento: Ejemplo

In [1]:
# Importamos las librer√≠as correspondientes:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

# Cargamos nuestro dataset:
data = pd.read_csv('C:\\Users\\andre\\OneDrive\\Escritorio\\insurance_2.csv', index_col=0)

In [2]:
data.head()

   age     sex    bmi  children smoker    charges
0   19  female  27.90         0    yes  16.884924
1   18    male  33.77         1     no   1.725552
2   28    male  33.00         3     no   4.449462
3   33    male    NaN         0     no  21.984471
4   32    male  28.88         0     no   3.866855

## Missing Values

Contamos cuantos valores nulos hay:

In [3]:
data.isnull().sum()

age          0
sex          0
bmi         96
children     0
smoker       0
charges      0
dtype: int64